html,
body {
  margin: 0;
  padding: 0;
}
t1-content {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

t1-presentation > t1-slide {
  display: none;
}

t1-presentation > t1-slide.active {
  display: inline-block;
}

t1-presentation {
  display: block;
  background-color: #fff;

  width: 80vmin;
  height: 80vmin;

  border: 0.2em solid #000;
  border-radius: 1em;
}

t1-slide {
  display: inline-block;
  width: 80%;
  height: 80%;
  margin: 10%;

  font-size: 10vmin;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

t1-chooser {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20vmin;
}

t1-choose.fixed {
  height: auto;
}

t1-chooser.chosen > *.chosen {
  max-width: 30%;
}

t1-chooser.fixed > *.chosen {
  max-width: 40%;
  animation-name: chosen_fixed;
  animation-duration: 0.5s;
}

t1-chooser.chosen.animate > *.chosen {
  animation-name: chosen;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes chosen {
  from {
    max-width: 20%;
  }
  to {
    max-width: 30%;
  }
}

@keyframes chosen_fixed {
  from {
    max-width: 30%;
  }
  to {
    max-width: 40%;
  }
}

t1-chooser.chosen > *:not(.chosen) {
  max-width: 16.6%;
  opacity: 0.25;
}

t1-chooser.fixed > *:not(.chosen) {
  max-width: 0%;
  opacity: 0.25;
  animation-duration: 0.5s;
  animation-name: unchosen_fixed;
}

t1-chooser.chosen.animate > *:not(.chosen) {
  animation-name: unchosen;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes unchosen {
  from {
    max-width: 20%;
    opacity: 1;
  }
  to {
    max-width: 16.6%;
    opacity: 0.25;
  }
}

@keyframes unchosen_fixed {
  from {
    max-width: 16.6%;
  }
  to {
    max-width: 0%;
  }
}

t1-chooser * {
  max-width: 20%;
  margin: 5% 2.5%;
}
